.v-data-table__mobile-row  {
  flex-wrap: wrap !important;
}

.v-data-table {
  word-break: break-word !important;
}

.v-application--is-ltr .v-data-table__mobile-row__cell {
  text-align: left !important;
}


.block-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2px 0;
}
